body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-top {
  display: flex;
  justify-content: center;
}

.container-bottom {
  display: flex;
  justify-content: center;
}

.top-number {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

.left-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid black;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.row:nth-child(5n + 5) {
  border-bottom: 2px solid black;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.cell:nth-child(5n + 5) {
  border-right: 2px solid black;
}

.black-cell {
  background-color: black;
}

.row-number {
  display: flex;
  justify-content: center;
}

.row-number:nth-child(5n + 5) {
  border-bottom: 2px solid black;
}

.row-number-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-number-top:nth-child(5n + 6) {
  border-right: 2px solid black;
}

.cell-number {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: grey;
  text-align: center;
}

.empty-square {
  width: 42px;
  height: 42px;
  border: 1px solid black;
  background-color: grey;
  border-right: 2px solid black;
}

.p {
  min-height: 20px;
  font-size: 20px;
}