.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  box-sizing: border-box;
  width: 95vw;
  max-width: 1000px;
  height: 90vh;
  padding: 20px;
  border-radius: 8px;

  background-color: #fff;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.header-section,
.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 8px;

  background-color: #f9f9f9;
}

.header-content {
  display: flex;
  gap: 20px;
  width: 80%;
}

a label {
  cursor: pointer;
}

.header-content label {
  width: 50%;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  font-size: 1rem;

  outline: none;
}

.input:focus {
  border-color: #007bff;
}

button {
  cursor: pointer;

  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;

  font-size: 1rem;
  color: #fff;

  background-color: #007bff;
  box-shadow: 0 0 4px 4px #d2d6df;

  transition: background-color 0.3s ease;
}

button:hover {
  box-shadow: none;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.user-section {
  display: flex;
  flex: 1;
  gap: 20px;

  box-sizing: border-box;
  width: 100%;
  max-height: 75%;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 30%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;

  background-color: #f9f9f9;
}

.list {
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 4px;

  background-color: #fff;
}

.list-item {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;

  padding: 10px;
}

.user-status-online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.user-status-offline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;

  background-color: #f9f9f9;
}

.header-message-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.header-message-content label,
.header-content label,
.user-name {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.message-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  box-sizing: border-box;
  height: 100%;
  max-height: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;

  background-color: #fff;
}

.message-content label {
  text-align: center;
}

.message-container {
  display: flex;
}

.message-data {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;

  background-color: #f9f9f9;
}

.message-text {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;

  overflow-wrap: break-word;

  background-color: #fff;
}

.message-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.message-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.message-header label,
.message-footer label {
  font-size: 0.8rem;
}

.form-message {
  display: flex;
  box-sizing: border-box;
}

.textarea {
  resize: none;

  flex-grow: 1;

  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

  font-size: 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.rss-link {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

  font-size: 1rem;
  color: #333;
  text-align: center;
}

.image {
  width: 30px;
  height: 30px;
}

a {
  margin: 15px 0;
  color: #333;
  text-decoration: none;
}

@media screen and (width <=560px) {
  .main {
    width: 90vw;
    padding: 10px;
  }

  .header-content {
    flex-direction: column;
  }

  .user-section {
    gap: 10px;
  }

  .dialog-container {
    width: 60%;
  }

  label,
  button,
  .header-message-content label,
  .header-content label,
  .user-name,
  .input,
  .textarea {
    font-size: 0.8rem;
  }
}
