.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;

  font-family: Arial, sans-serif;

  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}